@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

        <form action="/api/products" method="post">
            <input name="id" type="number" />
            <input name="ime" type="text" />
            <input name="prezime" type="text" />
            <input name="pozicija" type="text" />
            <input name="submit" type="submit" />
        </form>
        <form action="/api/products/1" method="post">
            <input type="hidden" name="_method" value="put" />
            <input name="ime" type="text" />
            <input name="prezime" type="text" />
            <input name="pozicija" type="text" />
            <input name="submit" type="submit" />
        </form>

    </div>
